.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

.background {
    width: 100vw;
    height: 18.75em;
    background: 
    url('./assets/bg-desktop-light.jpg') 
    center 
    center / 
    cover 
    no-repeat;
}
